<h2 class="section-title">Books</h2>
<form class="section-search search-books" action="/books" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %> ">
    </div>
    <div>
        <label>Published after</label>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %> ">
    </div>
    <div>
        <label>Published before</label>
        <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %> ">
    </div>
    <button type="submit">Search</button>
</form>
<div class="section-list book-list">
<% books.forEach(book => { %> 
    <a href="/books/<%= book.id %> ">
        <img src="<%= book.coverImagePath %>"> <!-- uses the virtual property -->
    </a>
<% }) %> 
</div>
