<h2 class="section-title no-margin-bot"><%= book.title %> </h2>
<img src="<%= book.coverImagePath %> ">
<div class="section-book-info"><b>Author:</b> <ins><%= book.author.name %></ins></div>
<div class="section-book-info"><b>Publish Date:</b> <ins><%= book.publishDate.toDateString() %></ins></div>
<div class="section-book-info"><b>Page Count:</b> <ins><%= book.pageCount %></ins></div>
<div class="section-description"><b>Description:</b> <ins><%= book.description %></ins></div>

<div id="view-edit-remove-btn">
    <a class="button" href="/authors/<%= book.author.id %> ">View Author</a>
    <a class="button button-edit" href="/books/<%= book.id %>/edit ">Edit</a>
    <%- include('../partials/deleteForm', {url: `/books/${book.id}`}) %> 
</div>