<h2 class="section-title no-margin-bot"><%= book.title %> </h2>
<img src="<%= book.coverImagePath %> ">
<div class="section-book-info"><b>Author:</b> <ins><%= book.author.name %></ins></div>
<div class="section-book-info"><b>Publish Date:</b> <ins><%= book.publishDate.toDateString() %></ins></div>
<div class="section-book-info"><b>Page Count:</b> <ins><%= book.pageCount %></ins></div>
<div class="section-description"><b>Description:</b> <ins><%= book.description %></ins></div>

<div class="buttons" id="view-edit-remove-btn">
    <a class="button" href="/authors/<%= book.author.id %> ">View Author</a>
    <a class="button button-edit" href="/books/<%= book.id %>/edit ">Edit</a>
    <button type="button" id="open-modal" class="button-remove" onclick="openConfirm(this)">Delete</button>
</div>
<div style="display: none;" class="confirmModal">
    <strong>Are you sure?</strong>
    <%- include('../partials/deleteForm', {url: `/books/${book.id}`}) %>
    <button class="button-create" onclick="closeConfirm(this)">Go Back</button> 
</div>