<h2>Search Authors</h2>
<form class="author-search" action="/authors" method="GET">
    <label>Name:</label>
    <input type="text" name="name" value="<%= searchOptions.name %> ">
    <button type="submit">Search</button>
</form>
<hr>
<% authors.forEach(author => { %> 
    <h3><%= author.name %></h3>
    <span class="buttons">
        <a id="view" class="button" href="/authors/<%= author.id %>">View</a>
        <a id="edit" class="button button-edit" href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %> 
    </span>   
<% }) %> 
